{%- if page.table == 2 -%}
  {%- assign file = page.dir | remove_first: "/" | replace: "/", "-" | append: "list" -%}
  {%- for deputy in site.data[file] -%}
  {%- if forloop.first -%}
  <table
    id="deputies"
    data-locale="uk-UA"
    data-toggle="table"
    data-search="true"
    data-sort-class="table-active"
    data-sortable="true"
    data-pagination="true"
    data-mobile-responsive="true"
    data-buttons-class="primary">
    <thead class="thead-rada">
      <tr>
        <th data-field="number" data-title="{{ site.data.labels.deputies_number }}">Nnumber</th>
        <th class="text-nowrap" data-field="name" data-sortable="true" data-title="{{ site.data.labels.deputies_name }}">Name</th>
        <th data-field="about" data-title="{{ site.data.labels.deputies_about }}">About</th>
      </tr>
    </thead>
    <tbody>
  {%- endif -%}
      <tr>
          <td>{{ deputy.number }}</td>
          <td><span class="font-sm-weight-bold">{{ deputy.name }}</span></td>
          <td>{% if deputy.okruh %}{{ site.data.labels.deputies_okruh }} - {{ deputy.okruh }}. {% endif %}{{ deputy.about }}</td>
      </tr>
  {%- if forloop.last -%}
    </tbody>
  </table>
  {%- endif -%}
  {%- else -%}
  <h4>{{ site.data.labels.deputies_no_data }}</h4>
  <p class="lead">{{ site.data.labels.deputies_no_data_alert }}</p>
  {%- endfor -%}
  <div class="row"><div class="col-12">{%- include back.html -%}</div></div>
{%- else -%}
  {%- assign file = page.dir | remove_first: "/" | replace: "/", "-" | append: "list" -%}
  {%- for deputy in site.data[file] -%}
  {%- if forloop.first -%}
  <div class="row font-weight-bold border-top pt-2 pb-2 d-none d-md-flex">
    <div class="col-md-1 col-lg-1">{{ site.data.labels.deputies_number }}</div>
    <div class="col-md-3 col-lg-3">{{ site.data.labels.deputies_name }}</div>
    <div class="col-md-8 col-lg-8">{{ site.data.labels.deputies_about }}</div>
  </div>
  {%- endif -%}
  <div class="row border-top pt-2 pb-2">
      <div class="d-none d-md-block col-md-1 col-lg-1">{{ deputy.number }}</div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <span class="font-sm-weight-bold">{{ deputy.name }}</span>
      </div>
      <div class="col-12 col-sm-6 col-md-8 col-lg-8">{% if deputy.okruh %}{{ site.data.labels.deputies_okruh }} - {{ deputy.okruh }}. {% endif %}{{ deputy.about }}</div>
  </div>
  {%- else -%}
  <h4>{{ site.data.labels.deputies_no_data }}</h4>
  <p class="lead">{{ site.data.labels.deputies_no_data_alert }}</p>
  {%- endfor -%}
  <div class="row"><div class="col-12">{%- include back.html -%}</div></div>
{%- endif -%}
