<footer class="text-dark">
    <div class="container mt-4 mb-4">
        <p class="mb-0">Вебсайт створено для органів місцевих рад Івано-Франківської області в Україні</p>
        <p>Бажаєте замовити розробку вебсайту для місцевої ради? Відвідайте сторінку <a href="http://vasyl.net">TYPO3 Інтегратор</a> або вебсайт Інтернет-агенції <a href="http://typo3.net.ua">TYPO3.net.ua</a>.</p>
    </div>
    <div class="bg-dark pt-2 pb-2">
        <div class="container text-white">
            <div class="row">
                <div class="col-10"><span>Місцеві Ради &copy;</span> <a href="#top"><span class="text-white">Створено у www.vasyl.net</span></a></div>
                <div class="col-2 text-right"><a href="#top"><span class="text-white">Догори</span></a></div>
            </div>
        </div>
    </div>
</footer>
