    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            {% include about.html %}
            {% include contacts.html %}
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Lesser_Coat_of_Arms_of_Ukraine.svg" style="width:20px;height:auto;" alt="Герб України">
            <strong class="ml-1">{{ site.name }}</strong>
          </a>
          <button class="navbar-toggler border border-white" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-white">?</span>
          </button>
        </div>
      </div>
    </header>
    {% include breadcrumb.html %}
