
<hr>
<h3 class="mb-4">Останні новини</h3>
<hr class="mb-4">

<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">
{% for article in site.categories[include.cat] limit:include.num %}
<div class="col mb-4">
  <div class="card h-100">
    <img src="/images/deputies.png" class="card-img-top" alt="image-news">
    <div class="card-body">
      <p class="card-text"><small class="text-muted">{{ article.date | date: '%-d %B %Y' }}</small></p>
      <h5 class="card-title"><a href="{{ article.url }}">{{ article.title }}</a></h5>
      <p class="card-text">{{ article.excerpt | truncate: 110 }}</p>
      <p class="card-text"><small class="text-muted">{{ article.category }}</small></p>
    </div>
  </div>
</div>
{% endfor %}
</div>

<hr>

<div class="row justify-content-between">
  <div class="col-md-3 col-5 text-left"><p>&nbsp;</p></div>
  <div class="col-md-3 col-5 text-right text-nowrap"><p><a href="{{page.dir}}news/" class="btn btn-primary">Всі новини</a></p></div>
</div>
