
//$card-columns-count: (
//    xs: 1,
//    sm: 2,
//    md: 3,
//    lg: 4,
//    xl: 5
//);

// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }

// .card-columns {
//   @include media-breakpoint-only(xs) {
//     column-count: 1;
//   }
//   @include media-breakpoint-only(sm) {
//     column-count: 2;
//   }
//   @include media-breakpoint-only(md) {
//     column-count: 3;
//   }
//   @include media-breakpoint-only(lg) {
//     column-count: 4;
//   }
//   @include media-breakpoint-only(xl) {
//     column-count: 5;
//   }
// }

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}
